<div class="hover items icon-text scroll">

	<p>
		<MrIcon Icon="@LucideIcon.UserRoundCog" />
	</p>

	<SettingsButton />

	<LogoutButton />


	<p>
		<MrIcon Icon="@LucideIcon.Eye" />Show or hide
	</p>

	@* <MenuSettingsDisplayButton MenuType="@DisplayMobile.MobileMenu.Date">
		<MrIcon Icon="@LucideIcon.Calendar" />
	</MenuSettingsDisplayButton>

	<MenuSettingsDisplayButton MenuType="@DisplayMobile.MobileMenu.Artists">
		<MrIcon Icon="@LucideIcon.MicVocal" />
	</MenuSettingsDisplayButton> *@

	<PlayerButton />


	@*<p><i class="fas fa-tools"></i>Actions</p>
	<button class="playlist"><i class="fas fa-plus-circle"></i><span>Add to playlist</span></button>
	<button class="play"><i class="fas fa-play"></i><span>Play all</span></button> *@

</div>