<li class="@ActiveClass">
    <MrButton Class="@_buttonClass" Text="@Year.ToString()" Title="Filter year" Active="@IsFilterActive" OnClick="@FilterYear" role="listitem">
        <ChildContent>
            @if (Months.Count > 0)
            {
                <span class="hide-mobile year @ActiveClass" title="Display months" @onclick="@ToggleMonths" @onclick:stopPropagation="true">
                    <MrIcon Icon="@Icon" />
                </span>
            }
        </ChildContent>

        <ChildContentAfterText>
            @if (Months.Count > 0)
            {
                <span class="show-mobile year @ActiveClass" title="Display months" @onclick="@ToggleMonths" @onclick:stopPropagation="true">
                    <MrIcon Icon="@Icon" />
                </span>
            }
        </ChildContentAfterText>
    </MrButton>

    @if (_renderMonths)
    {
        <ul class="month-list @MonthListClass">

            @foreach (var month in Months)
            {
                <li>
                    <DateSidebarMonthButton Year="@Year" Month="@month" />
                </li>
            }

        </ul>
    }
</li>