@using JakubKastner.MusicReleases.BackgroundTasks.Objects


<div class="tasks">

    <div class="header">
        <MrButton Class="sidebar-title tasks" Text="Active tasks" OnClick="@ViewTasks">
            <MrIcon Icon="@LucideIcon.ListTodo" />
        </MrButton>

        <MrButton Class="sidebar-header" Title="View all tasks" OnClick="@ViewTasks">
            <MrIcon Icon="@LucideIcon.ListCheck" />
        </MrButton>

        @if (SpotifyTaskManagerService.IsAnyTaskVisible)
        {
            <MrButton Class="sidebar-header" Title="Close finished tasks" OnClick="@SpotifyTaskManagerService.HideAllEnded">
                <MrIcon Icon="@LucideIcon.X" />
            </MrButton>
        }
    </div>

    <div class="list scroll">

        @if (!SpotifyTaskManagerService.IsAnyTaskVisible)
        {
            <p>No active tasks</p>
        }
        else
        {
            <Virtualize Items="@SpotifyTaskManagerService.VisibleTasks" Context="task" TItem="@BackgroundTask">
                <BackgroundTaskCard BackgroundTask="@task" @key="task.Id" />
            </Virtualize>
        }
    </div>
</div>