@using System.Globalization

<MrRow Class="@Class">
    
    <div class="task-info">
        
        <span class="title" title="Task name">
            @SpotifyBackgroundTask.Name
        </span>
        
        <div class="time-started" title="Task started at">
            <MrIcon Class="@_iconClass" Icon="@LucideIcon.Clock" />
            <span>
                @SpotifyBackgroundTask.StartedAt?.ToCurrentCultureString()
            </span>
        </div>

        <div class="info" title="Task info">
            <MrIcon Class="@_iconClass" Icon="@LucideIcon.Info" />
            <span>
                @SpotifyBackgroundTask.Info
            </span>
        </div>

        <div class="status" title="Task status">
            <MrIcon Class="@_iconClass" Icon="@Icon" Spin="@SpotifyBackgroundTask.IsRunning" />
            <span>
                @SpotifyBackgroundTask.StatusText
            </span>
            
            @if (@SpotifyBackgroundTask.IsRunning)
            {
                <span class="time-duration" title="Task progress">
                    &nbsp;(@(SpotifyBackgroundTask.CurrentStepIndex + 1) / @SpotifyBackgroundTask.ExpectedSteps)
                </span>
            }
            @if (@SpotifyBackgroundTask.Ended && SpotifyBackgroundTask.Duration.HasValue)
            {
                <span class="time-duration" title="Task duration">
                    &nbsp;(@SpotifyBackgroundTask.Duration.Value.ToMinuteString())
                </span>
            }
        </div>

    </div>

    <div class="steps">

        @for (int i = 0; i < SpotifyBackgroundTask.Steps.Count; i++)
        {
            var step = SpotifyBackgroundTask.Steps[i];
            var stepPct = (step.SubProgress * 100).ToString("F6", CultureInfo.InvariantCulture);

            <div class="step @(step.Status.ToLowerString())">

                <div class="step-info">

                    <span class="title" title="Step title">
                        @(i + 1). @step.Name
                    </span>
                    
                    <div class="time-started" title="Step started at">
                        <MrIcon Class="@_iconClass" Icon="@LucideIcon.Clock" />
                        <span>@step.StartedAt.ToCurrentCultureString()</span>
                    </div>

                    <div class="status" title="Step status">
                        <MrIcon Class="@_iconClass" Icon="@GetIcon(step.Status)" Spin="step.IsRunning" />

                        <span>
                            @step.Status.ToFriendlyString(true)
                        </span>

                        @if (step.Duration.HasValue)
                        {
                            <span class="time-duration" title="Step duration">
                                &nbsp;(@step.Duration.Value.ToMinuteString())
                            </span>
                        }
                    </div>

                </div>

                <div class="step-progress @step.Ended.ToCssClass("finished")">
                    <div class="bar" style="width:@stepPct%"></div>
                </div>

            </div>
        }

    </div>


    <div class="task-buttons">
        @if (SpotifyBackgroundTask.Links.Any())
        {
            @foreach (var link in SpotifyBackgroundTask.Links)
            {
                <MrButton Class="@_buttonClass" Href="@GetButtonUrl(link)" Text="@GetButtonText(link)" Title="@GetButtonTitle(link)" NewTab="@SettingsService.UserSettings.OpenLinksInNewTab">
                    <MrIcon Icon="@link.Icon" />
                </MrButton>
            }
        }
        @if (SpotifyBackgroundTask.IsRunning)
        {
            <MrButton Class="@_buttonClass" OnClick="@CancelTask" Text="Cancel task">
                <MrIcon Icon="@LucideIcon.Ban" />
            </MrButton>
        }
        else
        {
            <MrButton Class="@_buttonClass" OnClick="@DeleteTask" Text="Delete task">
                <MrIcon Icon="@LucideIcon.Trash" />
            </MrButton>
        }
    </div>


    <div class="task-progress @SpotifyBackgroundTask.Ended.ToCssClass("finished")">
        <div class="bar" style="width:@((SpotifyBackgroundTask.Progress * 100).ToString("F6", CultureInfo.InvariantCulture))%"></div>
    </div>
</MrRow>