<div class="@TaskClass" @onclick="ViewTask">

    <div class="header">

        <span class="title">
            @BackgroundTask.Name
        </span>

        <div class="icon">
            @if (BackgroundTask.Ended)
            {
                <MrButton Class="task" OnClick="@HideTask" Title="Hide task">
                    <MrIcon Icon="@LucideIcon.X" />
                </MrButton>
            }
            else
            {
                <MrIcon Icon="LucideIcon.LoaderCircle" Spin="@BackgroundTask.IsRunning" />
            }
        </div>

    </div>

    <div class="status">

        <span>
            @BackgroundTask.StatusText
        </span>

        @if (BackgroundTask.CurrentStep is not null)
        {
            <span>
                &nbsp;(@BackgroundTask.CurrentStep.Name)
            </span>
        }

    </div>

</div>