@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject ISpotifyFilterPlaylistService FilterService

<div class="playlist-picker">
    <PlaylistFilter SearchText="@FilterService.SearchText" SearchTextChanged="@((searchText) => FilterService.SetSearchText(searchText))" />

    <PlaylistList Playlists="FilterService.FilteredPlaylists?.ToList()">

        <RowTemplate Context="playlist">
            <PlaylistButton Release="@Release" Track="@Track" Playlist="@playlist" />
        </RowTemplate>

    </PlaylistList>
</div>