<div class="row row-release-list">

    <MrButton Class="flex-fill flex-fill-max transparent hover-text-only" Text="@Playlist.Name" Title="@Title(false)" Disabled="_isWorking" OnClick="@PlaylistAction">
        <MrIcon Icon="Icon" Spin="@_isWorking" />
    </MrButton>

    @if (!IsInPlaylist && !_isWorking)
    {

        <MrButton Class="flex-fill transparent hover-text-only" Title="@Title(true)" Disabled="_isWorking" OnClick="@PlaylistAction">
            <MrIcon Icon="LucideIcon.ChevronUp" />
        </MrButton>

    }

</div>