<div class="playlist-picker release-list scroll @Class">
    <div class="row">
        <PlaylistFilter SearchText="@FilterService.SearchText" SearchTextChanged="@((searchText) => FilterService.SetSearchText(searchText))" />
        <UpdateButton Type="MenuType.Playlists" Loading="@Loading" />
    </div>
    <PlaylistList Playlists="FilterService.FilteredPlaylists?.ToList()">

        <RowTemplate Context="playlist">
            <PlaylistButton Release="@Release" Track="@Track" Playlist="@playlist" />
        </RowTemplate>

    </PlaylistList>
</div>