<div class="playlists">
    <MrRow Class="playlist-picker-header">

        <PlaylistFilter SearchText="@FilterService.SearchText" SearchTextChanged="@SearchTextChanged" />
        <UpdateButton Class="playlist-action" ButtonType="@UpdateButtonComponent.Playlists" />

    </MrRow>

    <div class="content scroll">
        <PlaylistList Playlists="@Playlists">

            <RowTemplate Context="playlist">
                <PlaylistButton Release="@Release" Track="@Track" Playlist="@playlist" />
            </RowTemplate>

        </PlaylistList>
    </div>
</div>