<div class="row">

    <MrButton Text="@Playlist.Name" Title="@Title(false)" Disabled="_isWorking" OnClick="@PlaylistAction">

        @if (_isWorking)
        {
            <MrIcon Icon="LucideIcon.LoaderCircle" Class="loading" />
        }
        else if (IsInPlaylist)
        {
            <MrIcon Icon="LucideIcon.Minus" />
        }
        else
        {
            <MrIcon Icon="LucideIcon.Plus" />
        }

    </MrButton>

    @if (!IsInPlaylist)
    {

        <MrButton Title="@Title(true)" Disabled="_isWorking" OnClick="@PlaylistAction">
            <MrIcon Icon="LucideIcon.ChevronUp" />
        </MrButton>
        
    }

</div>