@using JakubKastner.MusicReleases.Services.BaseServices

@inject ISpotifyFilterPlaylistService FilterService

<div class="playlist-container">
    <ListPlaylists SearchText="@FilterService.SearchText" SearchTextChanged="@((val) => FilterService.SetSearchText(val))">

        <RowTemplate Context="playlist">
            <ButtonsPlaylist Release="@Release" Track="@Track" Playlist="@playlist" />
        </RowTemplate>

    </ListPlaylists>
</div>