@using JakubKastner.MusicReleases.Objects.Spotify


<div class="tasks">


    <div class="list scroll">

        <Virtualize Items="@SpotifyTaskManagerService.RunningTasks" Context="task" TItem="@SpotifyBackgroundTask">


            @if (SpotifyTaskManagerService.IsAnyTaskRunning)
            {
                <Task BackgroundTask="@task" ComponentType="@TaskComponent.Sidebar" @key="task.Id" />
            }
            else
            {
                <p>0 active tasks</p>
            }

        </Virtualize>

    </div>


    <div class="header">
        <MrButton Class="sidebar-title tasks" Text="Active tasks" OnClick="@ViewTasks">
            <MrIcon Icon="@LucideIcon.ListTodo" />
        </MrButton>

        <MrButton Class="sidebar-header" Title="View all tasks" OnClick="@ViewTasks">
            <MrIcon Icon="@LucideIcon.ListCheck" />
        </MrButton>

        @if (SpotifyTaskManagerService.IsAnyTaskRunning)
        {
            <MrButton Class="sidebar-header" Title="Close finished tasks" OnClick="@SpotifyTaskManagerService.HideAllFinished">
                <MrIcon Icon="@LucideIcon.X" />
            </MrButton>
        }
    </div>
</div>