@using JakubKastner.MusicReleases.Services.BaseServices

@implements IDisposable

@inject NavigationManager NavManager
@inject ISpotifyFilterService SpotifyFilterService
@inject ISpotifyFilterUrlService SpotifyFilterUrlService

<MrButton Class="@ButtonClass" Text="@Year.ToString()" Title="Filter year" OnClick="FilterYear">
    <span @onclick="DisplayMonths" @onclick:stopPropagation="true" title="Display months">
        <MrIcon Icon="@Icon" />
    </span>
</MrButton>

@if (_renderMonths)
{
    <ul class="month-list @MonthsClass">
        @foreach (var month in Months)
        {
            <li>
                <ButtonDateMonth Year="@Year" Month="@month" />
            </li>
        }
    </ul>
}