@using Fluxor
@using Fluxor.Blazor.Web.Components
@using JakubKastner.MusicReleases.Services.BaseServices
@using JakubKastner.MusicReleases.Store.FilterStore

@inherits FluxorComponent

@inject NavigationManager NavManager
@inject IState<SpotifyFilterState> SpotifyFilterState
@inject ISpotifyFilterUrlService SpotifyFilterService


<button type="button" class="year icon-text-right @ButtonClass" @onclick="FilterYear">
	@Year<i class="fas @IconClass" aria-hidden="true" @onclick="DisplayMonths" @onclick:stopPropagation="true"></i>
</button>

@if (_renderMonths)
{
	<div class="month @MonthsClass">
		<MenuDateMonth Year="@Year" Months="@Months">
		</MenuDateMonth>
	</div>
}