@if (Year is null || Months is null)
{
	return;
}

<button type="button" class="year icon-text-right @ButtonClass" data-menu_type="year" data-menu_year="@Year" @onclick="FilterYear">
	@Year<i class="fas @IconClass" aria-hidden="true" @onclick="DisplayMonths" @onclick:stopPropagation="true"></i>
</button>

@if (_renderMonths)
{
	<div class="month @MonthsClass">
		<MenuDateMonth Year="@Year" Months="@Months">
		</MenuDateMonth>
	</div>
}