<div class="settings-menu @ClassShow">

    <UserButton Class="@_buttonClass" />
    @*
        <SettingsButton Class="@_buttonClass" />
        <PlayerButton Class="@_buttonClass" />
    *@

    <BackgroundTaskButton Class="@_buttonClass" ButtonType="@TasksButtonComponent.Settings" />

    <LogoutButton Class="@_buttonClass" />

</div>