<div class="settings-menu @ClassShow">

    <UserButton Class="@_buttonClass" />
    @*
        <SettingsButton Class="@_buttonClass" />
        <PlayerButton Class="@_buttonClass" />
    *@

    <TasksButton Class="@_buttonClass" ButtonType="@TasksButtonComponent.Settings" />

    <LogoutButton Class="@_buttonClass" />

</div>