<div class="settings-menu @ClassShow">

    <UserButton Class="@_buttonClass" />
    @*
        <SettingsButton Class="@_buttonClass" />
        <PlayerButton Class="@_buttonClass" />
    *@
    <LogoutButton Class="@_buttonClass" />

</div>