@using JakubKastner.SpotifyApi.SpotifyEnums

<ul class="nav-list @ClassList">

    @foreach (var releaseType in EnumReleaseTypeExtensions.GetAllReleaseTypes())
    {
        if (releaseType == ReleaseType.Podcasts)
        {
            // TODO podcasts
            continue;
        }
        <li class="@releaseType.ToString().ToLower()">
            <ReleaseMenuButton ReleaseType=@releaseType Class="@ClassButtonRelease" />
        </li>
    }

    @if (MenuType == MainMenuType.Primary)
    {
        <li class="@ClassLiOverflow">
            <MrButton Class="@ClassButtonOverflow" Text="More" Title="@TitleButtonOverflow" OnClick="@ToggleOverflowMenu" aria-expanded="@IsOverflowMenuDisplayed" aria-controls="more-releases">
                <MrChip Class="@ClassChipOverflow">
                    <MrIcon Icon="@IconOverflow" />
                </MrChip>
            </MrButton>
        </li>
    }

</ul>