@using JakubKastner.SpotifyApi.SpotifyEnums

<ul class="@ListClass">

    @foreach (var releaseType in EnumReleaseTypeExtensions.GetAllReleaseTypes())
    {
        if (releaseType == ReleaseType.Podcasts)
        {
            // TODO podcasts
            continue;
        }
        <li class="@releaseType.ToLowerString()">
            <ReleaseMenuButton ReleaseType=@releaseType Class="@ReleaseButtonClass" />
        </li>
    }

    @if (MenuType == ReleaseMenuComponent.Primary)
    {
        <li class="@OverflowListItemClass">
            <MrButton Class="@_buttonClass" Text="More" Title="@OverflowButtonTitle" Active="@IsOverflowMenuDisplayed" OnClick="@ToggleOverflowMenu" aria-expanded="@IsOverflowMenuDisplayed" aria-controls="more-releases">
                <MrChip Active="@IsOverflowMenuDisplayed">
                    <MrIcon Icon="@OverflowIcon" />
                </MrChip>
            </MrButton>
        </li>
    }

</ul>