<ul class="menu-list scroll">

    <li class="menu-item releases">
        <MobileMenuButton ButtonType="@MobileMenuButtonComponent.Releases">
            <span class="title">
                Releases
            </span>
        </MobileMenuButton>
    </li>

    <li class="menu-item artists">
        <MobileMenuButton ButtonType="@MobileMenuButtonComponent.Artists">
            <span class="title">
                Artists
            </span>
        </MobileMenuButton>
    </li>

    @if (IsTasksPopupDisplayed)
    {
        <li class="menu-item tasks">
            <TasksButton Class="@_buttonClass" ButtonType="@TasksButtonComponent.Mobile">
                <span class="title">
                    Tasks
                </span>
            </TasksButton>
        </li>
    }
    else
    {
        <li class="menu-item date">
            <MobileMenuButton ButtonType="@MobileMenuButtonComponent.Date">
                <span class="title">
                    Date
                </span>
            </MobileMenuButton>
        </li>
    }

    <li class="menu-item more">
        <MrButton Class="@_buttonClass" Title="@OverflowButtonTitle" Active="@IsOverflowMenuDisplayed" OnClick="@ToggleOverflowMenu" aria-expanded="@IsOverflowMenuDisplayed" aria-controls="settings-menu">
            <MrIcon Icon="@OverflowIcon" />
            <span class="title">
                Menu
            </span>
        </MrButton>
    </li>

</ul>