<ul class="nav-list @Class">


    <li class="releases">
        <MrButton Class="@GetButtonClass(Enums.MobileMenu.Releases)" Title="View releases" OnClick="() => DisplayMenu(Enums.MobileMenu.Releases)">
            <MrIcon Icon="@LucideIcon.Music2" />
            <span class="title">
                Releases
            </span>
        </MrButton>
    </li>

    <li class="artists">
        <MrButton Class="@GetButtonClass(Enums.MobileMenu.Artists)" Title="View artists" OnClick="() => DisplayMenu(Enums.MobileMenu.Artists)">
            <MrIcon Icon="LucideIcon.MicVocal" />
            <span class="title">
                Artists
            </span>
        </MrButton>
    </li>

    <li class="date">
        <MrButton Class="@GetButtonClass(Enums.MobileMenu.Date)" Title="View date" OnClick="() => DisplayMenu(Enums.MobileMenu.Date)">
            <MrIcon Icon="@LucideIcon.Calendar" />
            <span class="title">
                Date
            </span>
        </MrButton>
    </li>

    <li class="more">
        <MrButton Class="@ClassButtonOverflow" Title="@TitleButtonOverflow" OnClick="@ToggleOverflowMenu" aria-expanded="@IsOverflowMenuDisplayed" aria-controls="settings-menu">
            <MrIcon Icon="@IconOverflow" />
            <span class="title">
                Menu
            </span>
        </MrButton>
    </li>

</ul>