<MrButton Class="@ButtonClass" Title="@ButtonTitle" Active="@IsActive" OnClick="@DisplayMenu">

    <div class="icon-wrapper">

        @if (IsFilterActive)
        {
            <span class="dot" />
        }
        <MrIcon Icon="@Icon" />

    </div>

    @ChildContent

</MrButton> 