<li @ondragover:preventDefault="true" @ondragenter:preventDefault="true" @ondragover="@HandleDragOver" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" @ondrop="HandleDrop">

    <MrButton Class="@_buttonClass" Href="@SettingsService.GetUrl(Playlist)" NewTab="@(!SettingsService.UserSettings.OpenLinksInApp)" Text="@Playlist.Name" Title="@SettingsService.GetUrlTitle($"playlist '{Playlist.Name}'")" Active="@IsDragOver" role="listitem" />

</li>