<li class="drop-zone" @ondragover:preventDefault="true" @ondragenter:preventDefault="true" @ondragover="@HandleDragOver" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" @ondrop="@HandleDrop">
    <MrButton Class="@ButtonClass" Text="@PlaylistName" Disabled="@_isLoading" role="listitem" />
</li> 