<li @ondragover:preventDefault="true" @ondragenter:preventDefault="true" @ondragover="@HandleDragOver" @ondragenter="HandleDragEnter" @ondragleave="HandleDragLeave" @ondrop="@HandleDrop">

    <MrButton Class="@_buttonClass" Text="@Playlist.Name" Title="Open playlist in Spotify app" Active="@IsDragOver" Href="@Playlist.UrlApp" role="listitem" />

</li> 