@if (_spotifyUser is null)
{
    <p>User is not logged in</p>
}
else
{
    <MrButton Class="@ButtonClass" Text="@_spotifyUser.Name" Title="@SettingsService.GetUrlTitle("user profile")" Href="@SettingsService.GetUrl(_spotifyUser)">
        @if (_spotifyUser?.ProfilePictureUrl is not null)
        {
            <img src="@_spotifyUser.ProfilePictureUrl" title="Profile picture" alt="Profile picture" width="50" />
        }
        else
        {
            <MrIcon Icon="LucideIcon.UserRound" title="Profile picture" />
        }
    </MrButton>
}