@if (_spotifyUser is null)
{
    <p>User is not logged in</p>
}
else
{
    <MrButton Class="@ButtonClass" Href="@SettingsService.GetUrl(_spotifyUser)" NewTab="@SettingsService.UserSettings.OpenLinksInNewTab" Text="@_spotifyUser.Name" Title="@SettingsService.GetUrlTitle("user profile")">
        @if (_spotifyUser?.ProfilePictureUrl is not null)
        {
            <img src="@_spotifyUser.ProfilePictureUrl" title="Profile picture" alt="Profile picture" width="50" />
        }
        else
        {
            <MrIcon Icon="LucideIcon.UserRound" title="Profile picture" />
        }
    </MrButton>
}