@using JakubKastner.MusicReleases.Objects.BackgroundTasks

<h1 class="header">
    <MrIcon Icon="@LucideIcon.ListTodo" Title="Tasks" />
    Tasks
</h1>

<div class="filters scroll">
    <MrButton Class="filter-clear tasks" Title="@ClearFilterButtonTitle" OnClick="@ClearFilter">
        <MrIcon Icon="@ClearFilterIcon" />
    </MrButton>

    <BackgroundTaskFilterButton ButtonType="@ChipFilterButtonComponent.Left" FilterType="@TaskFilter.Running" />
    <BackgroundTaskFilterButton ButtonType="@ChipFilterButtonComponent.Middle" FilterType="@TaskFilter.Canceled" />
    <BackgroundTaskFilterButton ButtonType="@ChipFilterButtonComponent.Middle" FilterType="@TaskFilter.Failed" />
    <BackgroundTaskFilterButton ButtonType="@ChipFilterButtonComponent.Right" FilterType="@TaskFilter.Finished" />

</div>

<div class="actions">
    <MrSearch Class="tasks" Placeholder="Search tasks..." SearchText="@SpotifyTaskFilterService.SearchText" ValueChanged="Search" />
    <MrButton Class="popup-tasks" Text="Delete finished" OnClick="@DeleteFinished">
        <MrIcon Icon="@LucideIcon.Trash" />
    </MrButton>
</div>

<div class="list scroll">

    @if (DisplayedTasks.Count < 1)
    {
        <p>@ZeroTasksText</p>
    }
    else
    {
        <Virtualize Items="@DisplayedTasks" Context="task" TItem="@BackgroundTask">

            <BackgroundTaskRow SpotifyBackgroundTask="@task" @key="task.Id" />

        </Virtualize>
    }
</div>