@using JakubKastner.MusicReleases.Objects.Spotify

<h2 class="header">
    <MrIcon Icon="@LucideIcon.ListTodo" Title="Tasks" />
    Tasks
</h2>

<div class="filters scroll">
    <MrButton Class="filter-clear tasks" Title="@ClearFilterButtonText" OnClick="@ClearFilter">
        <MrIcon Icon="@ClearFilterIcon" />
    </MrButton>


    <TaskFilterButton ButtonType="@ChipFilterButtonComponent.Left" FilterType="@TaskFilter.Running" />
    <TaskFilterButton ButtonType="@ChipFilterButtonComponent.Right" FilterType="@TaskFilter.Finished" />

    <TaskFilterButton ButtonType="@ChipFilterButtonComponent.Left" FilterType="@TaskFilter.Failed" />
    <TaskFilterButton ButtonType="@ChipFilterButtonComponent.Right" FilterType="@TaskFilter.Succeeded" />

    <TaskFilterButton ButtonType="@ChipFilterButtonComponent.Left" FilterType="@TaskFilter.Hidden" />
    <TaskFilterButton ButtonType="@ChipFilterButtonComponent.Right" FilterType="@TaskFilter.Visible" />

</div>

<div class="list scroll">

    @if (DisplayedTasks.Count < 1)
    {
        <p>@ZeroTasksText</p>
    }
    <Virtualize Items="@DisplayedTasks" Context="task" TItem="@SpotifyBackgroundTask">

        <Task BackgroundTask="@task" ComponentType="@TaskComponent.Popup" @key="task.Id" />

    </Virtualize>

</div>