@for (int i = 0; i < Artists.Count; i++)
{
    var artist = Artists.ElementAt(i);

    @* TODO artist filter <ArtistSidebarButton ArtistId="@artist.Id" ArtistName="@artist.Name" />*@

    <MrButton Class="@Class" Href="@artist.UrlApp" Text="@artist.Name" Title="Open artist in Spotify app" />

    @if (i < Artists.Count - 1)
    {
        <span>•</span>
    }

}