<div class="buttons">

	<MrButton Class="@_buttonClass" Text="@SpotifyRelease.TotalTracks.ToString()" Title="@ListButtonTitle(_listTracklist)" Active="@IsListActive(_listTracklist)" OnClick="@(() => ToggleList(_listTracklist))">
		<MrIcon Icon="@ListButtonIcon(_listTracklist)" Spin="@IsListLoading(_listTracklist)" />
	</MrButton>

	@*
	<MrButton Class="" Title="Play release" OnClick="@Play">
		<MrIcon Icon="LucideIcon.Play" />
	</MrButton>
	
	<MrButton Class="" Title="Add release to queue" OnClick="@AddToQueue">
		<MrIcon Icon="LucideIcon.ListOrdered" />
	</MrButton>

	<MrButton Class="" Title="Add release to library" OnClick="@AddToLibrary">
		<MrIcon Icon="LucideIcon.Heart" Fill="_inLibrary" />
	</MrButton>
	*@

	<MrButton Class="@_buttonClass" Title="@ListButtonTitle(_listPlaylist)" Active="@IsListActive(_listPlaylist)" OnClick="@(() => ToggleList(_listPlaylist))">
		<MrIcon Icon="@ListButtonIcon(_listPlaylist)" Spin="@IsListLoading(_listPlaylist)" />
	</MrButton>

</div>

@if (RenderList(_listTracklist))
{
	<ReleaseList ListType="@_listTracklist" Hidden="@(!IsListActive(_listTracklist))">
		<ReleaseTracklist Tracks="@SpotifyRelease.Tracks" />
	</ReleaseList>
}

@if (RenderList(_listPlaylist))
{
	<ReleaseList ListType="@_listPlaylist" Hidden="@(!IsListActive(_listPlaylist))">
		<PlaylistPicker Release="@SpotifyRelease" />
	</ReleaseList>
}