@for (int i = 0; i < Artists.Count; i++)
{
    var artist = Artists.ElementAt(i);

    @* TODO artist filter <ArtistSidebarButton ArtistId="@artist.Id" ArtistName="@artist.Name" />*@

    <MrButton Class="@ButtonClass" Href="@SettingsService.GetUrl(artist)" Text="@artist.Name" Title="@SettingsService.GetUrlTitle($"artist '{artist.Name}'")" />

    @if (i < Artists.Count - 1)
    {
        <span class="@SpanClass">•</span>
    }

}