<div class="buttons">

	<MrButton Class="@ListButtonClass(_listTracklist)" Text="@SpotifyRelease.TotalTracks.ToString()" Title="@ListButtonTitle(_listTracklist)" OnClick="@(() => ToggleList(_listTracklist))">
		<MrIcon Icon="@ListButtonIcon(_listTracklist)" Spin="@IsListLoading(_listTracklist)" />
	</MrButton>

	@*
	<MrButton Class="" Title="Play release" OnClick="@Play">
		<MrIcon Icon="LucideIcon.Play" />
	</MrButton>
	
	<MrButton Class="" Title="Add release to queue" OnClick="@AddToQueue">
		<MrIcon Icon="LucideIcon.ListOrdered" />
	</MrButton>

	<MrButton Class="" Title="Add release to library" OnClick="@AddToLibrary">
		<MrIcon Icon="LucideIcon.Heart" Fill="_inLibrary" />
	</MrButton>
	*@

	<MrButton Class="@ListButtonClass(_listPlaylist)" Title="@ListButtonTitle(_listPlaylist)" OnClick="@(() => ToggleList(_listPlaylist))">
		<MrIcon Icon="@ListButtonIcon(_listPlaylist)" Spin="@IsListLoading(_listPlaylist)" />
	</MrButton>

</div>

@if (RenderList(_listTracklist))
{
	<ReleaseList ListType="@_listTracklist" Class="@ListClass(_listTracklist)">
		<ReleaseTracklist Tracks="@SpotifyRelease.Tracks" />
	</ReleaseList>
}

@if (RenderList(_listPlaylist))
{
	<ReleaseList ListType="@_listPlaylist" Class="@ListClass(_listPlaylist)">
		<PlaylistPicker Release="@SpotifyRelease" />
	</ReleaseList>
}