@for (int i = 0; i < ArtistsObj.Count; i++)
{
    var artist = ArtistsObj.ElementAt(i);

    @* TODO artist filter <ArtistSidebarButton ArtistId="@artist.Id" ArtistName="@artist.Name" />*@

    <a class="artist @Class" href="@artist.UrlApp" title="Open artist in Spotify app" rel="noopener noreferrer">
        @artist.Name
    </a>

    @if (i < ArtistsObj.Count - 1)
    {
        <span>•</span>
    }

}