<div class="track">

	<MrRow Class="track">

		<span class="number" title="Track number">
			@Track.TrackNumber
		</span>

		@* 
		<MrButton Class="" Title="Play track" OnClick="@Play">
			<MrIcon Icon="LucideIcon.Play" />
		</MrButton>

		<MrButton Class="" Title="Add track to queue" OnClick="@AddToQueue">
			<MrIcon Icon="LucideIcon.ListOrdered" />
		</MrButton>

		<MrButton Class="" Title="Add track to library" OnClick="@AddToLibrary">
			<MrIcon Icon="LucideIcon.Heart" Fill="_inLibrary" />
		</MrButton>
		*@

		<MrButton Class="@_buttonClassAction" Title="@PlaylistButtonTitle" Active="@_isPlaylistListDisplayed" OnClick="@TogglePlaylists">
			<MrIcon Icon="LucideIcon.Plus" />
		</MrButton>

		<div class="name-artists">

			<span class="name">
				<MrButton Class="@_nameButtonClass" Href="@SettingsService.GetUrl(Track)" NewTab="@SettingsService.UserSettings.OpenLinksInNewTab" Text="@Track.Name" Title="@SettingsService.GetUrlTitle($"track '{Track.Name}'")" draggable="true" @ondragstart="@OnDragStart" />
			</span>

			<div class="artists">
				<ReleaseArtists ButtonClass="@_buttonClass" Artists="@Track.Artists" />
			</div>
		</div>

		<span class="explicit">
			@if (Track.Explicit)
			{
				<MrIcon TIcon="@TablerIcon" Icon="@TablerIcon.Explicit" Title="Explicit content" />
			}
		</span>

		<span class="duration" title="Track duration">
			<MrIcon Icon="@LucideIcon.Clock" />
			<span>@Track.DurationString</span>
		</span>

	</MrRow>


	@if (_renderPlaylistList)
	{
		<ReleaseList ListType="@ReleaseListComponent.PlaylistTrack" Hidden="@(!_isPlaylistListDisplayed)">
			<PlaylistPicker Track="@Track" />
		</ReleaseList>
	}

</div>