@using JakubKastner.MusicReleases.Services.ApiServices.SpotifyServices
@using JakubKastner.MusicReleases.Web.Components.LoggedIn.Playlists

@inject ISpotifyTracksService SpotifyTracksService

<div class="buttons">

	<MrButton Class="@TracklistClass" Text="@SpotifyRelease.TotalTracks.ToString()" Title="@TracklistTitle" OnClick="@ViewTracklist">
		<MrIcon Icon="@TracklistIcon" Spin="@_loadingTracklist" />
	</MrButton>

	@*
	<MrButton Class="" Title="Play release" OnClick="@Play">
		<MrIcon Icon="LucideIcon.Play" />
	</MrButton>
	
	<MrButton Class="" Title="Add release to queue" OnClick="@AddToQueue">
		<MrIcon Icon="LucideIcon.ListOrdered" />
	</MrButton>

	<MrButton Class="" Title="Add release to library" OnClick="@AddToLibrary">
		<MrIcon Icon="LucideIcon.Heart" Fill="_inLibrary" />
	</MrButton>
	*@

	<MrButton Class="@PlaylistClass" Title="@PlaylistTitle" OnClick="@ViewPlaylists">
		<MrIcon Icon="@PlaylistIcon" Spin="@_loadingPlaylists" />
	</MrButton>

</div>

@if (_isPlaylistDisplayed)
{
	<PlaylistPicker Release="@SpotifyRelease" />
}

@if (_isTracklistDisplayed)
{
	<ReleaseTracklist Release="@SpotifyRelease" />
}