@for (int i = 0; i < Artists.Count; i++)
{
    var artist = Artists.ElementAt(i);

    @* TODO artist filter <ArtistSidebarButton ArtistId="@artist.Id" ArtistName="@artist.Name" />*@

    <MrButton Class="@GetButtonClass(artist.Id)" Href="@GetButtonUrl(artist)" NewTab="@GetButtonNewTab(artist)" Text="@artist.Name" Title="@GetButtonTitle(artist)" OnClick="@(() => FilterArtist(artist.Id))" />

    @if (i < Artists.Count - 1)
    {
        <span>•</span>
    }

}