@using Microsoft.AspNetCore.Components.Sections
<div class="track">
	<div class="row row-release-list info">

		<span class="number" title="Track number">
			@Track.TrackNumber
		</span>

		@* 
		<MrButton Class="" Title="Play track" OnClick="@Play">
			<MrIcon Icon="LucideIcon.Play" />
		</MrButton>

		<MrButton Class="" Title="Add track to queue" OnClick="@AddToQueue">
			<MrIcon Icon="LucideIcon.ListOrdered" />
		</MrButton>

		<MrButton Class="" Title="Add track to library" OnClick="@AddToLibrary">
			<MrIcon Icon="LucideIcon.Heart" Fill="_inLibrary" />
		</MrButton>
		*@

		<MrButton Class="@PlaylistClass" Title="@PlaylistTitle" OnClick="@ViewPlaylists">
			<MrIcon Icon="LucideIcon.Plus" />
		</MrButton>

		<a class="name" href="@Track.UrlApp" title="Open track in Spotify app" rel="noopener noreferrer" draggable="true" @ondragstart="@OnDragStart">
			@Track.Name
		</a>

		<ReleaseArtists Class="track" ArtistsObj="Track.Artists" />

		@if (Track.Explicit)
		{
			<span class="explicit">
				<MrIcon Icon="TablerIcon.Explicit" title="Explicit content" />
			</span>
		}

		<span class="duration" title="Track duration">
			<MrIcon Icon="LucideIcon.Clock" />
			<span>@Track.DurationString</span>
		</span>

	</div>


	@if (_isPlaylistDisplayed)
	{
		<PlaylistPicker Track="@Track" Class="track" />
	}

</div>