@* TODO img size + loading="lazy" *@
<img class="cover" src="@SpotifyRelease.UrlImage" title="Release cover" alt="Release cover" width="140" height="140">

<div class="info">

	<div class="name">
		<MrButton Class="@_buttonClass" Href="@SpotifyRelease.UrlApp" Text="@SpotifyRelease.Name" Title="Open album in Spotify app" draggable="true" @ondragstart="@OnDragStart" />
	</div>

	@if (SpotifyRelease.Artists is not null)
	{
		<div class="artists">
			<ReleaseArtists Class="@_buttonClass" Artists="@SpotifyRelease.Artists" />
		</div>
	}

	<div class="date" title="Release date">

		<MrIcon Icon="LucideIcon.Calendar" />

		<span>@ReleaseDateDay</span>

		<MrButton Class="@_buttonClass" Text="@ReleaseDateMonth" Title="Filter releases by this month and year" OnClick="@FilterMonth" />

		<MrButton Class="@_buttonClass" Text="@ReleaseDateYear" Title="Filter releases by this year" OnClick="@FilterYear" />

	</div>

	<div class="properties">

		<MrIcon Icon="@ReleaseTypeIcon" Title="@ReleaseTypeIconTitle" />

		@* 
		@if(SpotifyRelease.Explicit)
		{
			<MrIcon Icon="TablerIcon.Explicit" title="Explicit content" />
		}
		*@

		@if (SpotifyRelease.New)
		{
			<MrIcon Icon="@LucideIcon.Flame" Title="New release" />
		}

		@*
		<span title="Track duration">
			<MrIcon Icon="LucideIcon.Clock" />@*
			*@@*@Release.DurationString
		</span>
		*@

	</div>

</div>