<div class="track">

	<MrRow Class="track">

		<span class="number" title="Track number">
			@Track.TrackNumber
		</span>

		@* 
		<MrButton Class="" Title="Play track" OnClick="@Play">
			<MrIcon Icon="LucideIcon.Play" />
		</MrButton>

		<MrButton Class="" Title="Add track to queue" OnClick="@AddToQueue">
			<MrIcon Icon="LucideIcon.ListOrdered" />
		</MrButton>

		<MrButton Class="" Title="Add track to library" OnClick="@AddToLibrary">
			<MrIcon Icon="LucideIcon.Heart" Fill="_inLibrary" />
		</MrButton>
		*@

		<MrButton Class="@_buttonClass" Title="@PlaylistButtonTitle" Active="@_isPlaylistListDisplayed" OnClick="@TogglePlaylists">
			<MrIcon Icon="LucideIcon.Plus" />
		</MrButton>

		<span class="name">
			<MrButton Class="@_buttonClass" Href="@Track.UrlApp" Text="@Track.Name" Title="Open track in Spotify app" draggable="true" @ondragstart="@OnDragStart" />
		</span>


		<ReleaseArtists Class="@_artistButtonClass" Artists="@Track.Artists" />

		@if (Track.Explicit)
		{
			<span class="explicit">
				<MrIcon Icon="TablerIcon.Explicit" Title="Explicit content" />
			</span>
		}

		<span class="duration" title="Track duration">
			<MrIcon Icon="LucideIcon.Clock" />
			<span>@Track.DurationString</span>
		</span>

	</MrRow>


	@if (_renderPlaylistList)
	{
		<ReleaseList ListType="@ReleaseListComponent.PlaylistTrack" Hidden="@(!_isPlaylistListDisplayed)">
			<PlaylistPicker Track="@Track" />
		</ReleaseList>
	}

</div>