@using JakubKastner.SpotifyApi.Objects

<div class="release album box" data-release_type="album" data-release_id="@SpotifyRelease.Id">
	<div class="info">

		@* TODO img size *@
		<img src="@SpotifyRelease.UrlImage" alt="Cover" class="cover" loading="lazy" width="140" height="140">

		@* target="_blank" *@
		<a class="name icon-text" href="@SpotifyRelease.UrlApp" rel="noopener noreferrer">
			@SpotifyRelease.Name
		</a>
		@if (SpotifyRelease.Artists is not null)
		{
			<ReleaseArtists ArtistsObj="SpotifyRelease.Artists" />
		}
		<p class="date icon-text">
			<i class="fas fa-calendar-alt" aria-hidden="true"></i>
			<button>
				@SpotifyRelease.ReleaseDateString
			</button>
		</p>

		<p class="duration icon-text">
			<i class="explicit fas fa-compact-disc" title="Album release" aria-hidden="true">
				<span title="Explicit lyrics">E</span>
			</i>
			<span class="sr-only">Album release</span>

			@if (SpotifyRelease.New)
			{
				<i class="fas fa-bolt" title="New release" aria-hidden="true"></i>
				<span class="sr-only">New release</span>
			}
			@SpotifyRelease.TotalTracks
			<i class="far fa-clock" aria-hidden="true"></i>00:00:00
		</p>

	</div>
</div>