@using JakubKastner.Extensions

<button type="@Type"
        class="button @Class"
        disabled="@Disabled"
        title="@Title"
        @onclick="OnClick"
        @attributes="Attributes">

    @ChildContent

    @if (Text.IsNotNullOrEmpty())
    {
        <span>@Text</span>
    }
</button>