@using JakubKastner.Extensions


@if (Href.IsNotNullOrEmpty())
{
    <a class="button @Class"
       href="@Href"
       disabled="@Disabled"
       title="@ButtonTitle"
       @onclick="OnClick"
       @attributes="Attributes">

        @ChildContent

        @if (Text.IsNotNullOrEmpty())
        {
            <span>@Text</span>
        }
    </a>
}
else
{
    <button type="@Type"
            class="button @Class"
            disabled="@Disabled"
            title="@ButtonTitle"
            @onclick="OnClick"
            @attributes="Attributes">

        @ChildContent

        @if (Text.IsNotNullOrEmpty())
        {
            <span>@Text</span>
        }
    </button>
}