@*
@if (Error)
{
	<p>Failed to get artists</p>
	<ButtonUpdate Type="MenuButtonsType.Artists">
		Update
	</ButtonUpdate>
}
*@

<header class="@SidebarTypeString header">

	@Header

</header>

<search class="@SidebarTypeString filter @ClassShow" role="search">

	@if (!Loading)
	{
		@Filter
	}

</search>

<nav class="@SidebarTypeString menu scroll @ClassShow" aria-label="@ContentAriaLabel">

	<MrLoading Loading="@Loading" Text="@LoadingText" />

	@if (!Loading)
	{
		@ChildContent
	}

</nav>